#container {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  justify-content: center;
}

.cell:hover {
  background-color: black;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pixel-size-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
