#container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 222, 224);
  height: 600px;
  width: 600px;
  border: 60px solid rgb(243, 69, 69);
  border-radius: 10px;
}

body {
  background: linear-gradient(to right, rgb(9, 9, 235), rgb(36, 36, 122) );
}

/* .cell {
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
} */

/* .cell:hover {
  background-color: black;
} */

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;
}

#pixel-size-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(243, 69, 69);
  border-radius: 3px;
}

#restart-btn {
  border: 3px solid rgb(243, 69, 69);
  border-radius: 3px;
}
